@import url(http://fonts.googleapis.com/css?family=Open+Sans|Garamond);

/* GENERAL SETTINGS */
html,
body {
  margin: 0px;
  padding: 1em;
  font-weight: 300;
  min-width: 375px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Garamond", serif;
}

.serif {
  font-family: "Garamond", serif;
}

.sans-serif {
  font-family: "Open Sans", sans-serif;
}
